@page "/file-upload"
@using DocumentFormat.OpenXml;
@using DocumentFormat.OpenXml.Packaging;
@using DocumentFormat.OpenXml.Spreadsheet;
@using System.IO;
@using System.Text;
@inject IJSRuntime JSRuntime;
@inject HttpClient httpClient;


<InputFile OnChange="HandleFileChange" class="form-control" />
<br />
<button type="button" class="btn btn-primary" @onclick="GetDataFromServer">Get Data</button>

@if (Employees != null && Employees.Count > 0)
{
   <FetchData Employees="Employees"></FetchData>
}



