@page "/send-email"
@inject HttpClient HttpClient

<h1 style="color:red">Secret Santa</h1><br /><br />
@*<button @onclick="SendMail" class="btn btn-secondary">Single Email</button><br />
*@<button @onclick="ConfirmAndSendEmails" style="width:60%" class="btn btn-primary form-control">Send Emails</button>


@if (result != null)
{
    <h3>@result</h3>
}
@if (result1 != null)
{
    <h3>@result1</h3>
}
